<form action="/artists" method="POST">
  <div>
    <label>Artist name:</label>
    <input type="text" name="artist_name">
  </div>

  <div>
    <label>Artist genre:</label>
    <input type="text" name="artist_genre">
  </div>
  
  <input type="submit" value="Submit the form">
</form>