<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>Postcode Checker</title>
</head>
<body>
  <h1>Result</h1>

  <a href="/">Back to the homepage</a>

  <div>
  <% if @valid == true %>
    <p>This is a valid postcode</p>
  <% else %>
    <p>This is not a valid postcode</p>
  <% end %>
</div>

</body>
</html>